@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
}
#navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}
#xlNavbar .nav-link {
  font-size: 14px;
}
#navbarMenuToggler, #navbarMenu .nav-link {
  color: #333;
}
#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}
.navbar {
    z-index: 1;
}
.social-links a {
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#hero{
  background-image: url(./images/brennan-burling-ay53qag90W8-unsplash\ \(1\).jpg);
  background-size: cover;
  height: 100vh;

}

#my-name{
  font-family: 'Oleo Script', cursive;
  font-size: 64px;
}

#hero .container-fluid {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#portfolio{
  padding-top: 100px;
  background-color: black;
  padding-bottom: 100px;
}
#about, #contact{
  background-color: black;
}

.info-box {
  color: #444444;
  padding: 20px;

  margin: 20px;
  background: rgba(255, 255, 255, 0.08);
}
.info-box2 {
  color: #444444;
  padding: 20px;

  margin: 20px;
  background: rgba(255, 255, 255, 0.08);
}

.sec-title{
  font-size: 35px;
  color: #fff;
  font-weight: 800;
}
.title1::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ff01b3;
  margin: 4px 10px;
}
h4{
  color: rgb(99, 96, 96);
  font-size: 15px;
}
.main-info{
  background: rgba(255, 255, 255, 0.08);
  width: 100%;
  padding: 60px;
}
 #bs {
  font-size: 24px;
  color: #ff01b3;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

#contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

#contact .info-box2 h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

#contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}