@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
}
#navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}
#xlNavbar .nav-link {
  font-size: 14px;
}
#navbarMenuToggler, #navbarMenu .nav-link {
  color: #333;
}
#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}
.navbar {
    z-index: 1;
}
#hero{
  background-image: url(./images/brennan-burling-ay53qag90W8-unsplash\ \(1\).jpg);
  background-size: cover;
  height: 100vh;

}

#my-name{
  font-family: 'Oleo Script', cursive;
  font-size: 64px;
}

#hero .container-fluid {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}